<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">You Missed Something Let's Check Again </h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
