.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 50px;
    padding: 30px;
}

.list-unstyled{
    margin-top: 50px;
}
.media{
    margin-bottom: 50px;
    padding: 30px;
}
.btnn {
    border: 2px solid #ffb320;
    background-color: #ffb320;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 50px;  
  }

 .card-group{
   padding: 100px;
 }
.card-text{
  text-align: justify;
}
.atext{
  text-align: justify;
}
.mr-3{
  border-radius: 30px;
  border: 2px solid black;
}
.card-columns{
  padding: 70px;
}
.resizing{
  margin-top: -100px;
}

#more {display: none;}


.searchbar{
  margin-top: 50px;
  height: 60px;
  background-color: #353b48;
  border-radius: 40px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 280px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #353b48;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }

  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 100px;
    height: 250px;
    overflow: hidden;

  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .recent-game-item{
    padding-bottom: 30px;
  }
  .dsb{
    padding: 5px;
    color: white;
    background-color: red;
    width: 75px;
    margin-bottom: 10px; 
  }
  @media (max-width: 600px) {
    #myUL {
      margin: 100px;
      height: 275px;
     
    }

  }